.content-header{
	padding-top:5px;
}
.content{
	padding-top:5px;
}
.box-header{
	padding-bottom:0px;
}
.box-body{
	padding-top:5px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding:3px 8px;
}

.legend{
  display: block;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.text-center{
	text-align:center;
	padding-right:0px;
}