label.error {
	color: red;
	font-weight: normal;
	font-size: 13px;
	padding-left: 15px;
	margin-left: 5px;
	margin-bottom: 0px;
	display: inline;
	height: 30px;
	padding-top: 6px;
	background: url("../images/icon/unchecked.jpg") left no-repeat;
}

.input-sm{
	padding:5px 3px;
}

.form-control{
	padding:5px 3px;
}

span.red{
	color: red;
	font-weight: bold;
}

.myspan2 {
	display: inline;
	width: 20%;
}

.myspan4 {
	width: 40%;
	display: inline;
}

.myspan6 {
	display: inline;
	width: 60%;
}

.myspanAll {
	display: inline;
	width: 100%;
}

.easyDialog_title {
	margin-top: 0px;
	margin-bottom: 0px;
}

.a-upload {
	padding: 4px 10px;
	margin-top:8px;
	height: 30px;
	line-height: 20px;
	position: relative;
	cursor: pointer;
	color: #888;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.a-upload input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

.a-upload:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}

.upload-fun .img {
	float: left;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top: 5px;
	background-color: #eee;
}

.upload-fun .img img {
	height: 100%;
	vertical-align: top;
}

.upload-fun span {
	float: left;
	display: inline-block;
	margin: 0 0 0 8px;
}