<!-- 日期格式(yyyy-MM-dd) -->
<html id="DATE">
<input type="text" name="${fieldcode}" placeholder="${fieldtips}" value="${value}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="form-control Wdate input-sm myspan6" style="height:30px;border:1px solid #ccc">
</html>

<!-- 时间格式(HH:mm:ss) -->
<html id="TIME">
<input type="text" name="${fieldcode}" placeholder="${fieldtips}" value="${value}" onclick="WdatePicker({dateFmt:'HH:mm:ss'})" class="form-control Wdate input-sm myspan6" style="height:30px;border:1px solid #ccc">
</html>

<!-- 日期时间(yyyy-MM-dd HH:mm:ss) -->
<html id="DATETIME">
<input type="text" name="${fieldcode}" placeholder="${fieldtips}" value="${value}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="form-control Wdate input-sm myspan6" style="height:30px;border:1px solid #ccc">
</html>

<!-- 普通文件 -->
<html id="FILE">
<input type="text" name="${fieldcode}">
</html>

<!-- 图片格式 -->
<html id="IMAGE">
<input type="text" name="${fieldcode}">
</html>

<!-- 人力资源[单选] -->
<html id="ONEHR">
<input type="text" name="${fieldcode}">
</html>

<!-- 人力资源[多选] -->
<html id="MOREHR">
<input type="text" name="${fieldcode}">
</html>
